.loginSection {
  background: rgb(58, 134, 255);
  background: linear-gradient(
    45deg,
    rgba(58, 134, 255, 1) 0%,
    rgba(94, 156, 255, 1) 100%
  );
}
.linearButton {
  background: rgb(58, 134, 255);
  background: linear-gradient(
    90deg,
    rgba(58, 134, 255, 1) 0%,
    rgba(109, 165, 255, 1) 100%
  );
}
.loginSectionBlock {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.AddProductInput {
  @apply h-[40px] px-2 w-[200px] border-[2px] border-inputBorder rounded-lg text-Asmall tracking-wide font-mainMedium outline-none text-textHeadCard;
}
