.loginSection {
  background: rgb(58, 134, 255);
  background: linear-gradient(
    45deg,
    rgba(58, 134, 255, 1) 0%,
    rgba(94, 156, 255, 1) 100%
  );
}
.linearButton {
  background: rgb(58, 134, 255);
  background: linear-gradient(
    90deg,
    rgba(58, 134, 255, 1) 0%,
    rgba(109, 165, 255, 1) 100%
  );
}
.loginSectionBlock {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.AddProductInput {
  @apply h-[40px] px-2 w-[200px] border-[2px] border-inputBorder rounded-lg text-[15px]  outline-none text-textHeadCard font-mainSemiBold tracking-wider;
}
.ActiveProfileNav::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  border-radius: 75% 0px 0px 75%;
  right: 0;
}

.productsBg {
  background: rgb(15, 169, 255);
  background: linear-gradient(
    45deg,
    rgba(15, 169, 255, 1) 0%,
    rgba(136, 63, 255, 1) 100%
  );
}
.balanceBg {
  background: rgb(131, 56, 236);
  background: linear-gradient(
    45deg,
    rgba(131, 56, 236, 1) 0%,
    rgba(255, 0, 110, 1) 100%
  );
}

.spentMoneyBg {
  background: rgb(234, 53, 70);
  background: linear-gradient(
    45deg,
    rgba(234, 53, 70, 1) 0%,
    rgba(248, 102, 36, 1) 100%
  );
}
.maclerSideBorder {
  box-shadow: 0 8px 0 #3dbe00, 0 16px 0 rgba(60, 190, 0, 0.6),
    0 24px 0 rgba(60, 190, 0, 0.2);
}

.gradCard1 {
  background: rgb(127, 0, 255);
  background: linear-gradient(
    45deg,
    rgba(127, 0, 255, 1) 0%,
    rgba(23, 0, 114, 1) 100%
  );
}
.gradCard2 {
  background: rgb(0, 102, 255);
  background: linear-gradient(
    45deg,
    rgba(0, 102, 255, 1) 0%,
    rgba(0, 72, 181, 1) 100%
  );
}
.gradCard3 {
  background: rgb(189, 0, 220);
  background: linear-gradient(
    45deg,
    rgba(189, 0, 220, 1) 0%,
    rgba(0, 98, 129, 1) 100%
  );
}
.beforeInputBlock {
  position: relative;
}
.beforeInputBlock::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
