@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mainSemiBold;
  src: url("./assets/fonts/NotoSansGeorgian-SemiBold.ttf");
}
@font-face {
  font-family: mainBold;
  src: url("./assets/fonts/NotoSansGeorgian-Bold.ttf");
}
@font-face {
  font-family: mainRegular;
  src: url("./assets/fonts/NotoSansGeorgian-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: mainSemiBold;
  letter-spacing: 0.5px;
}
.content_container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}
.DefButton {
  @apply bg-main rounded-[5px] w-[190px] h-[38px] text-whiteMain text-[13px] tracking-widest transition-colors hover:bg-mainHover;
}

.swiper-pagination-bullet {
  @apply bg-whiteMain opacity-80 transition-[background-color,opacity];
}

.swiper-pagination-bullet-active {
  @apply bg-main outline outline-2 outline-whiteMain opacity-100;
}
